
@{
    ViewData["Title"] = "_AddedSuccessfully";
}

<h2>_AddedSuccessfully</h2>
<script>
    console.log('loaded added successfully');
    window.location.href = '@Url.Action("Index",new { name="something"})';
</script>
