@{
    ViewData["Title"] = "Home Page";
}

<div>
   
    <a asp-action="Index" asp-controller="Book">Add Books via Ajax form in bootstrap modal dialog</a>
</div>




@section Scripts
{
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script>

        function mySuccessHandler(response,a,b,c) {
            console.log(response);
            console.log(a);


        }
        $(function() {
            // Fill modal with content from link href
            $("#myModal").on("show.bs.modal",
                function(e) {
                    var link = $(e.relatedTarget);
                    $(this).find(".modal-content").load(link.attr("href"));
                });
        });
    </script>
}
